# i3 config file (v4)
#
# Please see http://i3wm.org/docs/userguide.html for a complete reference!
#
# This config file uses keycodes (bindsym) and was written for the QWERTY
# layout.
#
# To get a config file with the same key positions, but for your current
# layout, use the i3-config-wizard
#

{{> appearance}}

# Before i3 v4.8, we used to recommend this one as the default:
# font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1
# The font above is very space-efficient, that is, it looks good, sharp and
# clear in small sizes. However, its unicode glyph coverage is limited, the old
# X core fonts rendering does not support right-to-left and this being a bitmap
# font, it doesn’t scale on retina/hidpi displays.

{{> keys}}

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
  status_command i3status | ~/.i3/net-speed.sh
	tray_output primary
  colors {
    separator #586e75
    background #002b36
    statusline #aea79f
    focused_workspace #586e75 #586e75 #ffffff
    active_workspace #073642 #073642 #ffffff
    inactive_workspace #002b36 #002b36 #aea79f
    urgent_workspace #77216f #77216f #ffffff
  }
}

#######################################################################
# automatically start i3-config-wizard to offer the user to create a
# keysym-based config which used their favorite modifier (alt or windows)
#
# i3-config-wizard will not launch if there already is a config file
# in ~/.i3/config.
#
# Please remove the following exec line:
#######################################################################
# exec i3-config-wizard

client.focused #586e75 #586e75 #fdf6e3 #268bd2
client.focused_inactive #073642 #073642 #93a1a1 #002b36
client.unfocused #002b36 #002b36 #586e75 #002b36
client.urgent #dc322f #dc322f #fdf6e3 #dc322f
