# -*- mode: conf -*-
# i3 config file (v4)
#
# Please see http://i3wm.org/docs/userguide.html for a complete reference!
#

{{> appearance}}

{{> keys}}

{{! > bar}}

{{> rules}}

exec xrdb ~/.Xresources
exec --no-startup-id compton
exec --no-startup-id fcitx
exec --no-startup-id dunst
exec_always --no-startup-id pulseaudio
exec_always --no-startup-id ~/.config/polybar/launch.sh
exec --no-startup-id pasystray
exec kitty
focus_follows_mouse no
show_marks yes
{{> keyboard}}
#######################################################################
# automatically start i3-config-wizard to offer the user to create a
# keysym-based config which used their favorite modifier (alt or windows)
#
# i3-config-wizard will not launch if there already is a config file
# in ~/.i3/config.
#
# Please remove the following exec line:
#######################################################################
# exec i3-config-wizard
